body {
    background-image: url(../../images/triangle-mosaic.png);
    overflow-x: hidden;
}

.bio{
    margin: auto;
    padding-top: 20px;
    font-weight: bold;
    font-size: x-large;
}

.myName{
    color:  black;
  
}
